/*top Nav*/
body {
  background-color: white;
}

body,
nav,
h4,
h5 {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
}

p {
  font-size: 16px;
  color: #707070;
  font-weight: 300;
}

.navbar {
  background: transparent;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.round-hover {
  position: absolute;
  left: 35px;
  top: 40px;
  z-index: -1;
  background: #ffffff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: .1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.close-left:hover + .round-hover {
  -webkit-transform: scale(60);
  -ms-transform: scale(60);
  transform: scale(60);
  opacity: 1;
}

.close-left {
  position: absolute;
  left: 0px;
  padding: 20px;
}

.left-right {
  position: absolute;
  right: 0px;
  padding: 30px 30px 20px 20px;
}

.close {
  text-shadow: none;
}

/*dropdown menu*/
/* MIXINS
  ==================================*/
.card-shadow,
#dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
/* GENERAL STYLES
   ================================== */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
/* INPUT
   ================================== */
#input {
  border: 0;
  background: transparent;
  outline: 0;
  display: block;
  text-align: right;
  font-size: 0.95em;
  width: 100px;
  cursor: pointer;
  color: #727272;
  text-decoration: none;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
#input.open {
  opacity: 0;
}
/* DROPDOWN
   ================================== */
.button-group {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2em;
  top: 0.2em;
}
.button-group .marka {
  position: absolute;
  right: 8px;
  top: 10px;
  z-index: 9999;
  cursor: pointer;
}
.button-group .marka i {
  width: 19px;
  height: 19px;
  background: black!important;
}
#dropdown-menu {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin: 1em auto;
  padding: 1em 1.35em 1em;
  width: 300px;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
#dropdown-menu img {
  width: 22px;
  height: auto;
  margin-right: 25px;
  vertical-align: center;
}
#dropdown-menu h5 {
  margin-bottom: 50px;
}
#dropdown-menu li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  opacity: 0;
}
#dropdown-menu li a {
  color: #222222;
  text-decoration: none;
  font-size: 1em;
}
/*#dropdown-menu li :hover {
  background-color: rgba(0, 0, 0, 0.15)
}*/
#dropdown-menu.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
#dropdown-menu.open li {
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
.open li:nth-child(1) {
  -webkit-transition-delay: 0.07s !important;
          transition-delay: 0.07s !important;
}
.open li:nth-child(2) {
  -webkit-transition-delay: 0.14s !important;
          transition-delay: 0.14s !important;
}
.open li:nth-child(3) {
  -webkit-transition-delay: 0.21s !important;
          transition-delay: 0.21s !important;
}
.open li:nth-child(4) {
  -webkit-transition-delay: 0.28s !important;
          transition-delay: 0.28s !important;
}
.open li:nth-child(5) {
  -webkit-transition-delay: 0.35s !important;
          transition-delay: 0.35s !important;
}
.open li:nth-child(6) {
  -webkit-transition-delay: 0.35s !important;
          transition-delay: 0.35s !important;
}
.open li:nth-child(7) {
  -webkit-transition-delay: 0.35s !important;
          transition-delay: 0.35s !important;
}
/*dropdown menu*/
/*top Nav*/

/*hero header*/
.intro-header-xiguo {
  background-color: #37bcb2;
}

.intro-header-bsx {
  background-color: #f76d32;
}

.intro-header-1pass {
  background-color: #4ab5cd;
}

.intro-header-commuCity {
  background-color: #f06a69;
}

.intro-header-ruskee {
  background-color: #dcdcdc;
}

.intro-header-drawing {
  background-color: #ffcb49;
}

.light-blue {
  background-color: #d5f0f9;
}

.project-logo {
  position:relative;
  bottom:0px;
  height:30px;
  width:auto
}

.intro-message {
  padding: 240px 100px 140px 0;
  color: white;
}

.intro-message h1 {
  font-family: 'Raleway',serif;
  font-weight: 100;
  font-size: 90px;
}

.intro-message p {
  color: white;
  margin: 0 10px;
}

.heroImg {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heroImg img{
  width: 550px;
  height: auto;
}

.intro-message img {
  width: 60px;
  height: auto;
}

.text-container {
  padding: 80px 60px 80px 20px;
}

.tiny-font p {
  font-size: 13px;
}

.project-why {
  background-color: white;
  text-align: center;
}

.project-why img {
  width: 100%;
  height: auto;
  margin: 40px 0px 0px 0px;
}

.project-why h1 {
  font-family: 'Raleway',serif;
  font-weight: 200;
  color: #333;
  line-height: 1.3em;
  margin: 0 0 80px 0;
}

.project-why p {
  color: white;
}

.bracket img {
  height: 34px;
  width: 96px;
  margin: 40px 0;
}

.persona-row {
  position: relative;
  top: 0px;
}

.persona-photo img {
  height: 116px;
  width: auto;
  margin: 40px 20px;
}

.persona-story {
  position: absolute;
  top: 0px;
  width: 300px;
  margin: 40px 80px 40px 200px;
  font-family: "Open Sans", "Helvetica Neue",Helvetica,sans-serif;
  font-size: 15px;
  text-align: left;
}

.message-model img {
  width: 1000px;
  height: auto;
  margin: 50px 0;
}

.insight h2 {
  color: #12d76f;
  margin: 20px 0;
}

.insight-image img {
  width: 337px;
  height: auto;
  margin: 40px 0;
}

/*design method*/

.grey-bg {
  background-color: #f9f9f9;
  background-size: cover;
}

.architec-experienc img {
  margin: 170px 100px 100px 130px;
  width: 400px;
  height: auto;
}

div.architecture-experience {
  padding: 100px 140px;
}

.in-line {
  background-color: rgba(255,255,255,.8);
  padding: 10px;
}

.in-line img {
  width: 36px;
  height: auto;
  margin-top: 10px;
}

.in-line p {
  font-size: 16px;
  font-style: italic;
}

#light-grey {
  color: #a0a0a0;
}

#medium-grey {
  color: #7c7c7c;
}

#dark-grey {
  color: #494949;
}

/*user flow*/

div.user-flow {
  padding: 80px 0;
}

#xiguo-flow img {
  height: auto;
  width: 100%;
}

.side-annotation img {
  height: 49px;
  width: auto;
  margin: 20px 0;
}

div.side-annotation {
  margin: 60px 10px 150px 0;
}

.highlighted-word-monitor {
  color: #12d76f;
  font-size: 20px;
  font-weight: 500;
}

.highlighted-word-student {
  color: #ef5035;
  font-size: 20px;
  font-weight: 500;
}

.paragraph-title {
  font-size: 35px;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}

.wire-animated img {
  width:400px;
  height:auto;
  margin: 20px 50px 10px 50px;
}

.wire-animated video {
  margin: 20px 0;
}

.interface video{
  margin-top: 50px;
}

.interface img{
  margin-top: 50px;
  height: 600px;
  width: auto;
}

.interface-desktop img{
  width: 680px;
  height: auto;
}

.interface-desktop {
  margin-top: 80px;
}

.annotation {
  padding: 80px 0 40px 0;
}

.annotation img {
  width: 550px;
  height: auto;
  margin: 10px;
}

.annotation p,h1,h2,h3 {
  padding: 10px;
}

/*bsx*/
.intro-bg {
  background-image: url("../images/bsx/bsx-background1.jpg");
  height: 720px;
  width: auto;
}

.hero-annotation {
  width: 550px;
  height: auto;
  margin-top: 100px;
}

.hero-annotation img {
  width: 100%; height: auto;
  margin-left: 10px;
}

.hero-annotation h2 {
  font-family: 'Raleway',serif;
  font-weight: 200;
  font-size: 50px;
  color: #f9f9f9;
  padding-bottom: 20px;
}

.responsive-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.icon-image {
  width: 200px;
  height: auto;
}

.icon-image img {
  height: auto;
  width: 40%;
  margin: 10px 0;
}

.warm-grey-bg {
  background-color: #f4f0f1;
  background-size: cover;
}

.os-animation{
    opacity: 0;
}
.os-animation.animated{
    opacity: 1;
}

/* Carousel Fading slide */
ul.carousel-indicators img {
  width: 60px;
  height: auto;
  margin: 15px;
}


.carousel-inner {
  width: 50%;
  overflow: visible;
}

div.interface {
  padding-left: 0;
}

.carousel-indicators {
  position:static;
  margin: 80px 0;
  left: 0;
  display: inline;
}

.carousel-indicators li {
  margin: 0;
  background-color: transparent;
  border: none;
  display: inline;
  cursor: pointer;
}

.carousel-indicators img {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

.carousel-indicators img:hover {
  opacity: .8;
}

.carousel-indicators .active {
  background-color: transparent;
}

.carousel-indicators .active img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

.carousel-fade .item.active { opacity: 1; }

.carousel {
  margin-bottom: 50px;
}

/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner > .item,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
  }
  .carousel-fade .carousel-inner > .item.left,
  .carousel-fade .carousel-inner > .item.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
  }
}

/*.carousel-fade .item {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  }*/
/* Carousel Fading slide */

.about-icons img{
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.col-4-icons {
  width: 100px;
  height: auto;
}

.img-full-width img {
  height: auto;
  width: 100%;
}

.video-margin {
  margin: 40px 0 80px 0;
}

.white-text-bg {
  margin: 120px 60px;
  color: white;
  background-color: rgba(0,0,0,.4);
}

.process-bg {
  background-color: #2d2e31;
  color: white;
  padding: 80px 0;
}

#wrapper {
  transition: height 400ms;
}

.process-bg img {
  width:100%;
  height: auto;
  margin: 20px 0;
}

.footer-row {
  margin: 50px 0;
}

.design-method {
  background-image: url('images/xiguo/architecture-bg.jpg');
  background-size: cover;
}
